.top-bar{
    height: 0.4rem;
    width: 100%;
    background-image:linear-gradient(#39c5bb,#39c5bc8e);
    color: #FFFFFF;
    display: flex;
    align-items: center;
    position: relative;
}

.top-bar .page-content{
    flex: 1;
}
.top-bar .page-content .content{
    height: 100%;
    width: 1rem;
    color: white;
    font-size: 0.16rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar input{
    width: 1.4rem;
    border: none;
    outline: none;
    color: #39c5bb;
    padding: 0 0.2rem 0 0.05rem;
    border-radius: 5px;
    position: relative;
    left: 0.3rem;  
}

::-webkit-input-placeholder{
    color: #39c5bb;
    font-size: 0.12rem;
}

.top-bar .iconfont,.top-bar a{  
    color: #fff;
    display: block;
    width: 0.4rem;
    height: 100%;
    font-size: 0.2rem;
    text-align: center;
    line-height: 0.4rem;
    cursor: pointer;
}
.top-bar .iconfont:hover{
    border: 2px solid #fff;
    border-radius: 0.15rem;
    color: #39c5bb;
}
.top-bar #search:hover{
    border: none;
    color: #39c5bb;
}
.top-bar #search{
    color: #39c5bb;
    z-index: 99;
}

.top-bar a #git{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:500px) {
    .top-bar input,.top-bar .page-content .content{
        display: none;
    }
    .top-bar #search{
        color: white;
    }
}