@font-face {
  font-family: "iconfont";
  /* Project id 3496642 */
  src: url('./iconfont.woff2?t=1656831788156') format('woff2'),
    url('./iconfont.woff?t=1656831788156') format('woff'),
    url('./iconfont.ttf?t=1656831788156') format('truetype');
}

.iconfont{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-ziyuan132:before {
  content: "\e60d";
}

.icon-a-ziyuan127:before {
  content: "\e60e";
}

.icon-a-ziyuan145:before {
  content: "\e60f";
}

.icon-tanhao:before {
  content: "\e624";
}

.icon-fenlei:before {
  content: "\e626";
}

.icon-arrow-right:before {
  content: "\ed4e";
}

.icon-arrow-left:before {
  content: "\ed4f";
}

.icon-chat-dot-square:before {
  content: "\ed50";
}

.icon-headset:before {
  content: "\ed51";
}

.icon-upload2:before {
  content: "\ed53";
}

.icon-a-33-gerenzhongxin:before {
  content: "\e6fc";
}

.icon-shouye:before {
  content: "\100d9";
}

.icon-fenlei1:before {
  content: "\100da";
}

.icon-bianji:before {
  content: "\100db";
}

.icon-wenjian:before {
  content: "\100dc";
}

.icon-shezhi:before {
  content: "\100dd";
}

.icon-shipin:before {
  content: "\100de";
}

.icon-liaotian:before {
  content: "\100df";
}

.icon-Plus:before {
  content: "\e611";
}

.icon-Search-20:before {
  content: "\e612";
}

.icon-Moon-Star:before {
  content: "\e613";
}

.icon-Sun:before {
  content: "\e614";
}